@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* other css file */
@import './selected.css';

#app {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  font-weight: normal;
  font-family: 'Noto Sans TC', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(128, 178, 20, 0.6);
  border-radius: 4px;
}
